# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

# Attention: valid for K8s charms only

name: Terraform module tests

on:
  pull_request:
    paths:
      - 'terraform/**'

permissions:
  contents: read

jobs:
  test-terraform:
    uses: canonical/operator-workflows/.github/workflows/terraform_modules_test.yaml@main
    with:
      k8s-controller: true
      k8s-channel: '1.33-classic/stable'
